.main {
  height: 100vh;
  display: grid;
  grid-template-areas: 'header' 'footer';
  grid-template-rows: 1fr auto;
  align-items: center;
}

.header {
  width: 100%;
  max-width: 33rem;
  margin: auto;
}


