.header {
  grid-area: header;
  display: grid;
  grid-template-areas: 'title search';
  grid-template-columns: auto 1fr;
  grid-column-gap: 1rem;
  padding: 1rem;
  align-items: center;
}

.headerTitle {
  grid-area: title;
  margin: 0;
}
